tests/TestWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dummy.host/TestWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestWSDLFile" targetNamespace="http://dummy.host/TestWSDLFile/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dummy.host/TestWSDLFile/">
      <xsd:element name="TestOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TestOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TestOperationFault">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="status"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TestOperationRequest">
    <wsdl:part element="tns:TestOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TestOperationResponse">
    <wsdl:part element="tns:TestOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TestOperationFault">
  	<wsdl:part name="parameters" element="tns:TestOperationFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestWSDLFile">
    <wsdl:operation name="TestOperation">
      <wsdl:input message="tns:TestOperationRequest"/>
      <wsdl:output message="tns:TestOperationResponse"/>
            <wsdl:fault name="fault" message="tns:TestOperationFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWSDLFileSOAP" type="tns:TestWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TestOperation">
      <soap:operation soapAction="http://dummy.host/TestWSDLFile/TestOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWSDLFile">
    <wsdl:port binding="tns:TestWSDLFileSOAP" name="TestWSDLFileSOAP">
      <soap:address location="http://dummy.host/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
